body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    font-family: 'Arial', sans-serif;
}

#background {
    position: absolute;
    width: 90%; /* Adjust as needed */
    height: 90%; /* Adjust as needed */
    background-color: rgb(18, 17, 15); /* Dark background color */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the grid stays within the background */
    border: 50px solid black; /* Red border with some thickness */

}

#grid-container-wrapper {
    position: relative;
    width: calc(100% - 60px); /* Adjust width for border thickness */
    height: calc(100% - 60px); /* Adjust height for border thickness */
    box-sizing: border-box; /* Include border in width and height calculations */
    padding: 0; /* No padding */
}

#grid-container {
    width: 100%;
    height: 100%;
    background-color: rgb(246, 246, 246); /* Light grid background */
    display: grid;
    grid-template-rows: repeat(16, 1fr); /* Adjust rows and columns as needed */
    grid-template-columns: repeat(16, 1fr); /* Adjust rows and columns as needed */
    box-sizing: border-box; /* Ensure no overflow due to padding/border */
}

.grid-item {
    padding: 1em;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

button {
    display: block;
    position: absolute;
    bottom: 20px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 8px;
    transition: background-color 0.4s, transform 0.2s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: gray;
    transform: scale(1.05);
}


